.appointment-wrapper {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.appointment {
  height: 100%;
}

.appointment__header {
  font-size: 3rem;
  padding: 2rem 0;
}

.appointment__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #575757;
  width: 60%;
  margin: auto;
}

.appointment__card--header {
  color: #fff;
  font-size: 3rem;
}

.appointment__card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.appointment__card form label {
  margin: 1rem 0;
  width: 100%;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #57cecece;
}

.appointment__card form label input,
.appointment__card form label select {
  width: 35rem;
  height: 3.5rem;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .appointment__card form label input,
  .appointment__card form label select {
    width: 30rem;
    height: 3rem;
    font-size: 1.7rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .appointment__card {
    width: 90%;
  }
}

body {
  background-color: #cecece;
}

.carousel {
  width: 100%;
}

.carousel img {
  border-radius: 50rem;
  width: 15rem !important;
  margin: auto;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.slide-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.3333%;
  }
}

@media (min-width: 992px) {
  .slide-box img {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0.5rem;
}

.carousel-indicators {
  bottom: -2rem !important;
}

@media screen and (min-width: 500px) {
  .carousel-control-next-icon {
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem);
  }
  .carousel-control-prev-icon {
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
}
/*# sourceMappingURL=appointment.css.map */