.contactus {
  height: 90vh;
  background-color: #575757;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  &__header {
    font-size: 5rem;
    color: #fff;
  }
  &__content {
    font-size: 3rem;
    color: #57cecece;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      width: 60rem;
      height: 4.5rem;
      font-size: 2rem;
      margin: 1rem 0;
      padding: 0 1rem;
      &::placeholder {
        font-size: 2rem;
      }
    }
    textarea {
      font-size: 1.8rem;
      &::placeholder {
        font-size: 2rem;
      }
    }
  }
  button {
    cursor: pointer;
    color: #fff;
    font-size: 2rem;

    background-color: #57cecece;
    padding: 1rem 3rem;
    margin: 1rem 0;
    border: none;
    outline: none;
    border-radius: 10rem;
  }
}
