.dashboard-navbar {
  height: 10vh;
  background-color: #57cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-navbar * {
  color: #fff;
  font-size: 1.5rem;
}

.dashboard-navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

.dashboard-navbar__left .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard-navbar__left .dropdown-menu * {
  color: black;
}

.dashboard-navbar__left .dropdown button {
  background-color: transparent !important;
  border: none;
}

.dashboard-navbar__left .dropdown button:hover {
  background: none;
  color: black;
}

.dashboard-navbar__right a {
  padding: 1rem 3rem;
  border: 2px solid #229e9e;
}

.dashboard-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90vh;
}

.upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

.upcoming .columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-gap: 1rem;
}

.upcoming .columns h1,
.upcoming .columns h2 {
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upcoming .columns button {
  border: 1px solid #cecece;
}

.modal-body .upcoming {
  width: 100%;
}

.modal-body .upcoming * {
  font-size: 1.8rem;
}

.modal-body .upcoming-prescriptions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 1fr;
      grid-template-columns: 2fr 3fr 1fr;
}

.modal-body .upcoming-prescriptions * {
  text-align: left;
}

.modal-body .appointment__card {
  width: 100%;
  padding: 3rem;
}

.modal-body .appointment__card button + button {
  margin-left: 2rem;
}

.modal-body .view-appointment__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
}

.modal-body .view-appointment__details * {
  font-size: 1.6rem;
}

.modal-body .view-appointment__contents {
  margin: 1rem 0;
}

.modal-body.letter input {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  margin: 1rem 0;
}

.modal-body.letter textarea {
  width: 100%;
}

.nurse-miscellaneous-task {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto 15rem auto;
  justify-items: center;
  border: 3px solid #57ececec;
  padding: 3rem 0;
}

button.btn.btn-primary:hover, button.btn.btn-primary:active, button.btn.btn-primary:focus {
  background: transparent;
}
/*# sourceMappingURL=dashboard.css.map */