.faq {
  background-color: #575757;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__header {
    font-size: 5rem;
    color: #57cecece;
    margin-top: 7rem;
  }
  &__accordion-container {
    width: 80%;
    margin: auto;
    .accordion {
      .card-header {
        * {
          font-size: 2rem;
          color: #575757;
        }
      }
      .card-body {
        font-size: 1.6rem;
        padding: 1rem 4rem;
        background-color: #57cece54;
      }
    }
  }
}
