.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5rem 7rem;
  background: #57cecece;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 5rem 3rem;
  }
}

.footer > h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 5rem;
}

.footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer > div * {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__nav-left--list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav-left--list * {
  color: #fff !important;
}

.footer__nav-left--list-item {
  margin: 0.5rem 0;
  cursor: pointer;
}

.footer__nav-center--list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav-center--list * {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .footer__nav-center--list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
  }
  .footer__nav-center--list * {
    font-size: 1.3rem !important;
  }
}

.footer__nav-center--list-item {
  cursor: pointer;
  color: #fff;
  margin: 1rem 0;
}

.footer__nav-center--list-item a:hover {
  color: inherit;
}

@media screen and (max-width: 600px) {
  .footer__nav-center--list-item {
    padding: 0.5rem 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 0.5rem;
  }
}

.footer__nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav-right--header {
  font-size: 2.5rem !important;
}

.footer__nav-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav-right form > * {
  margin: 1.5rem 0;
}

.footer__nav-right form button {
  cursor: pointer;
}
/*# sourceMappingURL=footer.css.map */