.homepage-banner {
  height: 90vh;
  background: url("../assets/doctor-bg-min.jpg") top center/cover;
}

@media screen and (max-width: 600px) {
  .homepage-banner {
    background: url("../assets/mobile-banner.jpg") top center/cover;
    position: relative;
  }
  .homepage-banner::before {
    content: "";
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 26, 18, 0.6)), color-stop(20%, rgba(13, 13, 13, 0)), color-stop(rgba(22, 17, 15, 0)), color-stop(rgba(44, 26, 18, 0.4)), color-stop(74%, rgba(44, 26, 18, 0.69)), to(rgba(44, 26, 18, 0.73)));
    background-image: linear-gradient(rgba(43, 26, 18, 0.6), rgba(13, 13, 13, 0) 20%, rgba(22, 17, 15, 0), rgba(44, 26, 18, 0.4), rgba(44, 26, 18, 0.69) 74%, rgba(44, 26, 18, 0.73));
  }
}

.homepage-banner__header {
  font-size: 5.5rem;
  margin: 0rem 0 10rem 0;
  padding-top: 8rem;
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .homepage-banner__header {
    margin: 0rem 0 4rem 0;
    font-size: 4rem;
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .homepage-banner__header {
    width: 100%;
    color: #fff;
    padding: 0;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
  }
}

.homepage-banner__form {
  width: 40%;
  margin-left: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.homepage-banner__form label {
  margin: 2rem 0;
  width: 100%;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .homepage-banner__form label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.homepage-banner__form label input,
.homepage-banner__form label select {
  width: 25rem;
  height: 4.5rem;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .homepage-banner__form label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .homepage-banner__form label input,
  .homepage-banner__form label select {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 2.5rem;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1200px) {
  .homepage-banner__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .homepage-banner__form {
    width: 100%;
    margin: 0;
    padding: 0 3rem;
    position: absolute;
    bottom: 1rem;
  }
}

.homepage-cards {
  background-color: #575757;
  padding-bottom: 8rem;
}

.homepage-cards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 8rem 0;
}

.homepage-cards div .homepage-cards__card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #57cecece;
  width: 25rem;
  padding: 3rem 2rem;
}

.homepage-cards div .homepage-cards__card * {
  color: #fff;
}

.homepage-cards div .homepage-cards__card--top {
  font-size: 3rem;
}

.homepage-cards div .homepage-cards__card--bottom {
  font-size: 3rem;
}

.homepage-cards div .homepage-cards__card--img {
  margin: 3rem 0;
  width: 6rem;
}

@media screen and (max-width: 1100px) {
  .homepage-cards div .homepage-cards__card {
    width: 20rem;
  }
  .homepage-cards div .homepage-cards__card--top {
    font-size: 2rem;
  }
  .homepage-cards div .homepage-cards__card--bottom {
    font-size: 2rem;
  }
  .homepage-cards div .homepage-cards__card--img {
    margin: 2rem 0;
    width: 6rem;
  }
}

@media screen and (max-width: 890px) {
  .homepage-cards div .homepage-cards__card {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 890px) {
  .homepage-cards div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .homepage-cards div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homepage-cards div .homepage-cards__card {
    margin-bottom: 2rem;
  }
}

.homepage-cards__bottom-header {
  text-align: center;
  color: #fff;
  font-size: 6rem;
}
/*# sourceMappingURL=homepage.css.map */