.signup {
  display: flex;
  align-items: center;
  flex-direction: column;

  > form {
    border: 10px solid #57cecece;
    width: 40%;
    margin: auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(max-width:600px) {
      width: 80%;
    }
    .form-group {
      input,
      select {
        width: 100%;
        height: 4.4rem;
        font-size: 2rem !important;
      }
      textarea {
        width: 100%;
      }
    }
    button {
      cursor: pointer;
      color: #fff;
      font-size: 2rem;
      margin: auto;
      background-color: #57cecece;
      padding: 1rem 3rem;
      margin: 1rem 0;
      border: none;
      outline: none;
      border-radius: 10rem;
    }
  }
}
